:root {
  --grid-size: 50px;
  --grid-gap: 3px;
}

@media (min-width: 500px) {
  :root {
    --grid-size: 100px;
    --grid-gap: 5px;
  }
}

.game-container {
  outline: none;
}

/* score board */
.score-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.score-board .score-panel {
  margin: 0 2px;
}

/* background */
.background-cell {
  height: var(--grid-size);
  line-height: var(--grid-size);
  width: var(--grid-size);
  margin: var(--grid-gap);
  border-radius: 3px;
  background: lightgrey;
}

.background-row {
  display: flex;
  flex-direction: row;
  background: #776e65;
  padding: 0 var(--grid-gap);
  width: calc(var(--grid-size) * 4 + var(--grid-gap) * 8);
}

.background-row:first-child {
  padding-top: var(--grid-gap);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.background-row:last-child {
  padding-bottom: var(--grid-gap);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.background-board {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* game over cover */
.gameover-cover {
  z-index: 1;
  height: calc(var(--grid-size) * 4 + var(--grid-gap) * 10);;
  background: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: calc(var(--grid-size) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameover-cover span {
  margin: var(--grid-gap);
  color: grey;
}

.new-game-btn {
  color: white;
  background: orange;
  height: calc(var(--grid-size) * 0.6);
  border: solid orange 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: calc(var(--grid-size) / 4);
}
.new-game-btn:hover{
  color: black;
}

/* game */
.grid-row {
  display: flex;
  flex-direction: row;
  padding: 0 var(--grid-gap);
}

.grid-row:first-child {
  padding-top: var(--grid-gap);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.grid-row:last-child {
  padding-bottom: var(--grid-gap);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid-board {
  position: absolute;
  left: 0;
  right: 0;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--grid-size) * 4 + var(--grid-gap) * 10);;
}

/* cell style */
.grid-cell {
  height: var(--grid-size);
  line-height: var(--grid-size);
  width: var(--grid-size);
  text-align: center;
  vertical-align: center;
  margin: var(--grid-gap);
  font-size: calc(var(--grid-size) / 2);
  font-weight: bold;
  border-radius: 3px;
  visibility: visible;
  transition: 100ms ease-in-out;
}

.cell-2 {
  background: #eee4da;
}

.cell-4 {
  background: #ede0c8;
}

.cell-8 {
  background: #f2b179;
  color: #f9f6f2;
}

.cell-16 {
  background: rgb(233, 153, 108);
  color: #f9f6f2;
}

.cell-32 {
  background: #f67c5f;
  color: #f9f6f2;
}

.cell-64 {
  background: #f65e3b;
  color: #f9f6f2;
}

.cell-128 {
  background: #edcf72;
  color: #f9f6f2;
}

.cell-256 {
  background: #edcc61;
  color: #f9f6f2;
}

.cell-512 {
  background: #edc850;
  color: #f9f6f2;
}

.cell-1024 {
  background: #edc53f;
  color: #f9f6f2;
  font-size: calc(var(--grid-size) * 0.4);
}

.cell-2048 {
  background: #edc22e;
  color: #f9f6f2;
  font-size: calc(var(--grid-size) * 0.4);
}

.cell-exceeded {
  background: #3c3a32;
  color: #f9f6f2;
  font-size: calc(var(--grid-size) * 0.4);
}

/* move animation takes 100ms before this one */
.cell-value-changed {
  animation: Cell-value-change 150ms 100ms;
}
@keyframes Cell-value-change {
  from { transform: scale(1); }
  50% { transform: scale(1.2); }
  to { transform: scale(1); }
}

/* move animation takes 100ms, new cell hides 100ms before appears */
.cell-newly-spawned {
  animation: Cell-newly-spawned 250ms;
}
@keyframes Cell-newly-spawned {
  from { 
    visibility: hidden;
    transform: scale(0);
  }
  40% { transform: scale(0); }
  to { transform: scale(1); }
}

/* cell position */
:root {
  --distance-0: var(--grid-gap);
  --distance-1: calc(var(--grid-size) + var(--grid-gap) * 3);
  --distance-2: calc(var(--grid-size) * 2 + var(--grid-gap) * 5);
  --distance-3: calc(var(--grid-size) * 3 + var(--grid-gap) * 7);
}
.pos-0-0 {
  position: absolute;
  top: var(--distance-0);
  left: var(--distance-0);
}
.pos-0-1 {
  position: absolute;
  top: var(--distance-0);
  left: var(--distance-1);
}
.pos-0-2 {
  position: absolute;
  top: var(--distance-0);
  left: var(--distance-2);
}
.pos-0-3 {
  position: absolute;
  top: var(--distance-0);
  left: var(--distance-3);
}
.pos-1-0 {
  position: absolute;
  top: var(--distance-1);
  left: var(--distance-0);
}
.pos-1-1 {
  position: absolute;
  top: var(--distance-1);
  left: var(--distance-1);
}
.pos-1-2 {
  position: absolute;
  top: var(--distance-1);
  left: var(--distance-2);
}
.pos-1-3 {
  position: absolute;
  top: var(--distance-1);
  left: var(--distance-3);
}
.pos-2-0 {
  position: absolute;
  top: var(--distance-2);
  left: var(--distance-0);
}
.pos-2-1 {
  position: absolute;
  top: var(--distance-2);
  left: var(--distance-1);
}
.pos-2-2 {
  position: absolute;
  top: var(--distance-2);
  left: var(--distance-2);
}
.pos-2-3 {
  position: absolute;
  top: var(--distance-2);
  left: var(--distance-3);
}
.pos-3-0 {
  position: absolute;
  top: var(--distance-3);
  left: var(--distance-0);
}
.pos-3-1 {
  position: absolute;
  top: var(--distance-3);
  left: var(--distance-1);
}
.pos-3-2 {
  position: absolute;
  top: var(--distance-3);
  left: var(--distance-2);
}
.pos-3-3 {
  position: absolute;
  top: var(--distance-3);
  left: var(--distance-3);
}

@media (min-width: 500px) {
  .score-board {
    margin: 25px;
    transform: scale(2);
  }
  .score-board .score-panel {
    margin: 0 2px;
  } 
}
