.grid-cell {
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: center;
  margin: 3px;
  font-size: 20px;
  background: lightgrey;
  border-radius: 3px;
  transition: 0.3s;
}

.grid-row {
  display: flex;
  flex-direction: row;
  background: #776e65;
  padding: 0 3px;
}

.grid-row:first-child {
  padding-top: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.grid-row:last-child {
  padding-bottom: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid-board {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-2 {
  background: #eee4da;
}

.cell-4 {
  background: #ede0c8;
}

.cell-8 {
  background: #f2b179;
  color: #f9f6f2;
}

.cell-16 {
  background: rgb(233, 153, 108);
  color: #f9f6f2;
}

.cell-32 {
  background: #f67c5f;
  color: #f9f6f2;
}

.cell-64 {
  background: #f65e3b;
  color: #f9f6f2;
}

.cell-128 {
  background: #edcf72;
  color: #f9f6f2;
}

.cell-256 {
  background: #edcc61;
  color: #f9f6f2;
}

.cell-512 {
  background: #edc850;
  color: #f9f6f2;
}

.cell-1024 {
  background: #edc53f;
  color: #f9f6f2;
}

.cell-2048 {
  background: #edc22e;
  color: #f9f6f2;
}

.cell-exceeded {
  background: #3c3a32;
  color: #f9f6f2;
}

@keyframes Cell-value-change {
  from { transform: scale(1); }
  50% { transform: scale(1.2); }
  to { transform: scale(1); }
}